.device {
    width: 375px;
    height: 812px;
    border-radius: 39px;
    outline: 8px solid black; /* First outline */
    box-shadow: 0 0 0 11px #becec1; /* Second outline */
    /* position: absolute;
    top: 0; bottom: 0; left: 0; right: 0; */
    overflow: hidden;
    /* overflow: scroll; */
    /* border: 1px dashed green; */
    background-color: white;
}

.screen {
    width: 375px;
    height: 812px;
    border-radius: 39px;
    /* outline: 8px solid black; First outline */
    /* box-shadow: 0 0 0 11px #becec1; Second outline */
    margin: auto;
    /* position: absolute;
    top: 0; bottom: 0; left: 0; right: 0; */
    overflow: hidden;
    /* overflow: scroll; */
}

.ios-menu {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 12px 12px 0 20px;
}

.ios-time {
    text-align: center;
    font-family: "SF Pro";
    font-size: 15px;
    font-style: normal;
    font-weight: 590;
    line-height: 22px; /* 146.667% */}

.notch {
    width: 209px;
    height: 30px;
    background-color: black; /* or any color you prefer */
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    z-index: 10;
}

.home-ind-hold {
    width: 375px;
    height: 21px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
}
.home-ind {
    width: 139px;
    height: 5px;
    background-color: black; /* or any color you prefer */
    margin: 8px auto; /* Center horizontally */
    border-radius: 3px;
}