* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #FCFBF9;
}

@font-face {
    font-family: "ABC Marist Unlicenced Trial";
    src: url('static/fonts/ABCMarist-Regular-Trial.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "ABC Marist Unlicenced Trial";
    src: url('static/fonts/ABCMarist-RegularItalic-Trial.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "ABC Marist Unlicenced Trial";
    src: url('static/fonts/ABCMarist-Bold-Trial.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

p {
    /* font-family: "Monaspace _____ VF", sans-serif;  */
    font-family: "ABC Marist Unlicenced Trial", serif; 
    font-size: 24px;
    line-height: 130%;

    margin-bottom: 18px;
}
a {
    color: #FFA600;
    text-decoration: none;

}
a:hover {
    /* color: #FFA600; */
    text-decoration: underline;
}
a:visited {
    /* color: #8C5B00; */
    text-decoration: none;
}
  
h1 {
    font-family: "Bricolage Grotesque Condensed", sans-serif;

    font-weight: 700;
    font-size: 96px;
    line-height: 90%;
}
h1 span {
    color: #FFA600;
}
header {
    color: white;
}
.authors-hold {
    display: flex;
    gap: 24px;
    margin-bottom: 64px;
}
.author {
    font-family: "ABC Marist Unlicenced Trial", serif; 
    font-size: 24px;
    /* font-weight: bold; */
    line-height: 130%;
}
h2 {
    /* font-family: "Bricolage Grotesque Variable", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 40; */

    font-size: 64px;
    line-height: 115%;



    font-family: "Bricolage Grotesque Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 64px;
    /* margin-top: calc((100vh - 812px - 12px) / 2); */
    margin-top: 196px;
}
h3 {
    font-size: 32px;
    line-height: 115%;
    font-family: "Bricolage Grotesque Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: SemiBold;
    font-style: normal;
    margin-bottom: 32px;
    margin-top: 64px;
}
h4 {
    font-family: "ABC Marist Unlicenced Trial", serif; 
    font-size: 24px;
    font: bold;
    line-height: 115%;
    margin-bottom: 18px;
    margin-top: 36px;
}
.small-title {
    font-style: italic;
    margin-top: 36px;
}
em, emphasis {
    font-style: italic;
}
.rq {
    color: #FFA600;
    font-style: italic;
    font-size: 36px;
    padding: 0 75px 0 75px; 
    line-height: 115%;
    margin-bottom: 16px;
    max-width: 720px;
}

/* ESSAY PROGRESS BAR */

.reading-progress {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #FFA600;
    z-index: 1000;
    transition: width 0.1s;
}


/* MAIN ESSAY UI */
  
main {
    display: flex;
    flex-direction: column;
    gap: 256px;
}
.chapter-hold {
    display: flex;
    flex-direction: column;
    gap: 172px;
}
.paragraph-hold {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /* border: 1px dashed black; */
    gap: 64px;
    /* padding: 50px; */
    box-sizing: inherit;
    /* min-height: 100vh; */

}
.device-hold {
    margin-left: 125px;
    width: 375px;
    height: 812px;
    /* outline: 1px solid red; */
    position: sticky;
    top: calc((100vh - 812px - 12px) / 2);
}
.device img {
    width: 100%;
}
.essay-side {
    width: 50%;
    /* border: 1px dashed blue; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.design-side {
    width: 50%;
    /* border: 1px dashed green; */
    position: relative;
    /* height: 100vh; */
}

.essay-snippet {
    max-width: 512px;
}


/* SCREEN STUFF */

.device-claim {
    display: flex;
    gap: 6px;
    width: 375px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    font-family: 'Helvetica', sans-serif;
    font-weight: bolder;
}
.type-interactive + .device-claim {
    color: #becec1;
}
.type-video + .device-claim {
    color: #c49ac6;
}
.type-image + .device-claim {
    color: #ebd0a7;
}
.type-slider + .device-claim {
    color: #ebd0a7;
}
.type-actual + .device-claim {
    color: #a3d3e9;
}
video {
    width: 100%;
}
.video-controls {
    display: flex;
    gap: 6px;
    width: 375px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    /* outline: 1px solid red; */
    padding: 0 160px;
}
.video-controls a {
    
    text-decoration: none;
    color: #666;
}
.progress-bar {
    flex-grow: 1;
    height: 4px;
    background: #eee;
    border-radius: 2px;
}
.progress {
    width: 0%;
    height: 100%;
    background: #303E48;
    border-radius: 2px;
}
.playPause {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none;
}
.mute-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none;
}
/* REFERENCES */

footer {
    background-color: #303E48;
    color: white;
    font-size: 20px;
    margin-top: 64px;
    padding-bottom: 120px;
}
.references {
    font-size: 16px;
    line-height: 130%;
    font-family: "ABC Marist Unlicenced Trial", serif; 
    margin-top: 64px;
    max-width: 960px;
    margin: auto;
    padding: 72px 0;
}
.references p {
    margin-bottom: 18px;
    font-size: 18px;
}
.references a {
    color: #FFA600;
    text-decoration: none;

}
.references a:hover {
    /* color: #FFD17B; */
    text-decoration: underline;
}
.references a:visited {
    /* color: #8C5B00; */
    text-decoration: none;
}
.lit-arrow {
    color: #FFA600;
    display: none;
    margin-right: 4px;
}
.active-arrow {
    display: inline-block;
}


/* LEGEND/KEY */

.legend-fab {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #FFA600;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* transition: all 0.1s ease-in; */
}
.legend-fab.expanded {
    width: 460px;
    border-radius: 25px;
    justify-content: space-between;
    /* justify-content: flex-end; */
    padding-right: 20px;
    padding-left: 20px;
}
.legend-icon {
    font-size: 24px;
    color: white;
    /* transition: opacity 0.3s ease; */
}
.legend-content {
    display: none;
    flex-direction: row;
    padding: 10px;
    gap: 16px;
    padding-top: 13px;
}
.legend-fab.expanded .legend-content {
    display: flex;
}
.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.legend-circle {
    width: 14px;
    height: 14px;
    border-radius: 7px;
    margin-right: 6px;
}
.legend-item span {
    color: white;
}

/* IPHONE SLIDER */

.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.slider {
    display: flex;
    transition: transform 0.3s ease;
}
.slider img {
    width: 100%;
    flex-shrink: 0;
}
.slide-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,1);
    color: white;
    border: none;
    /* padding: 10px; */
    height: 48px;
    width: 24px;
    cursor: pointer;
    z-index: 1;
}
.arrow {
    height: 16px;
}
.prev { left: 0px;  border-radius: 0 100px 100px 0; padding-right: 10px; }
.next { right: 0px; border-radius: 100px 0 0 100px; padding-left: 10px;  }
